<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">   
    <title>Zing42-Internship Task</title>
</head>
<body>
    <form method="post" action="\getbhav">
        <label>Enter Symbol Name</label>
        <input type="Text" name="symbol"><br>
        <label>Enter Starting Date</label> <input type="date" name= "sdate">
        <label>Enter Ending Date</label> <input type="date" name="edate">
        <button id="submit">Run</button><br>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>

</script>

</html>